body{
  margin: 0% 5% 0% 5% ;

}

ul li{
  list-style-type: none;
  text-align: center;
}






#ButtonsBox ul li{
list-style-type: none;
display: inline;
background-color: green;

}

#registerBtn {
  display: inline;
  list-style-type: none;
background-color: red;
}


#loginBtn {
  display: list-item;
  list-style-type: none;
  background-color: blue;
}

#productDisplay{
  list-style-type: none;


}

#productDisplay li{
  display: inline;
}

#mainlogo{
  width: 350px;
}

#productlist img{
  width: 100%;

}

#detailImage{
  width: 100%;
}

#countspin{
  width: 100%;
}

#price{
  text-align: center;
}
