body{
  background: orange;
  margin: 0% 5% 0% 5% ;

}

#left_col{
  background: red;

}

#right_col{
  background: green;
}



#ButtonsBox ul li{
background: yellow;
list-style-type: none;
display: inline;
}

#registerBtn {
  background: white;
  display: list-item;
  list-style-type: none
}


#loginBtn {
  background: gray;
  display: block;
  list-style-type: none
}
