body{
  margin: 0% 5% 0% 5% ;

}

ul li{
  list-style-type: none;
  text-align: center;
}


#left_col{

}

#right_col{
}



#ButtonsBox ul li{
list-style-type: none;
display: inline;
}

#registerBtn {
  display: list-item;
  list-style-type: none
}


#loginBtn {
  display: block;
  list-style-type: none
}

#productDisplay{
  list-style-type: none;


}

#productDisplay li{
  display: inline;
}

#mainlogo{
  width: 350px;
}

#productlist img{
  width: 100%;

}

#detailImage{
  width: 100%;
}

#countspin{
  width: 100%;
}

#price{
  text-align: center;
}
