@using System.Configuration


@model Lecker.Models.Login

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";

    
    
    
}

<div class="container col-sm-12">

    <div class="panel panel-default">
        <div class="panel-body">
            <form method="post" action="">
                <div class="form-group">
                    <input type="text" name="username" placeholder="username" value="@ViewData["lastuName"]" class="form-control" />
                </div>

                <div class="form-group">
                    <input type="password" name="password" placeholder="password" class="form-control">
                </div>

                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" name="stayOnline" class="form-check-input">
                        Angemeldet bleiben
                    </label>
                </div>

                <button type="submit" class="btn btn-primary" id="loginBtn">Anmelden</button>
            </form>

        </div>

    </div>

    

    @{
        
        
            if ((int)Session["LoginError"] == 1)
            {
                //PASSWORD Wrong
                <text>
                    <div class="alert alert-danger">
                        <strong> Error</strong> Benutzername /Passwort falsch.
                    </div>

                </text>
            }
        

       }

    
















</div>
